html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
}

nav {
    width: 100%;
    line-height 40px;
    text-align: left;
}

ul {
    font-size: 12pt;
}

ul li{
    list-style-type: none;
    display: inline;
    padding-right: 10px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-decoration: underline;
}

.align-right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    border-radius: 20px;
    border: solid #d2d2d2;
    width: 60%;
    height: 45px;
    font-size: 16pt;
    background-image: url('Pics/voice-search-icon.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

input[type=text]:hover {
    box-shadow: 0 0 3px 3px lightgray;
}

button {
    text-decoration: none;
    background-color: #f4f4f4;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 18px 18px 18px;
    margin: 35px 6px 0px 6px;
    border: none;
    text-align: center;
    font-size: 14pt;
}

button:hover {
    border:1px solid #d2d2d2;
}

.button-center {
    width: 100%;
    text-align: center;
}

footer {
    height: 40px;
    background-color: #f2f2f2;
    width: 100%;
    positon: fixed;
    margin: none;
}