html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    padding: 0;
    border: none;
    margin: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

nav {
    width: 100%;
    line-height 40px;
    text-align: left;
}

nav ul {
    font-size: 12pt;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

.align-right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    border-radius: 20px;
    border: solid #dcdcdd;
    width: 60%;
    height: 45px;
    font-size: 16pt;
    background-image: url('Pics/voice-search-icon.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

input[type=text]:hover {
    box-shadow: 0 0 3px 3px lightgray;
}

button {
    text-decoration: none;
    background-color: lightgray;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 18px;
    margin: 35px 6px;
    border: none;
    text-align: center;
    font-size: 14pt;
}

button:hover {
    border-style: solid;
    border-width: 1px;
}

.button-center {
    width: 100%;
    text-align: center;
}

footer {
    background-color: lightgray;
    width: 100%;
    line-height: 40px; 
    positon: absolute;
    bottom: 0px;
    /* display: inline-block; */
}

footer ul li{
    list-style-type: none;
    display: inline;
    padding-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    text-decoration: underline;
}