html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

.wrapper {
    min-height: 100%;
}

nav {
    width: 100%;
    line-height 40px;
    text-align: left;
    padding: 10px 0px;
 
}

ul {
    font-size: 10pt;
    color: #5f6368;
    margin: 0;
}

ul li{
    list-style-type: none;
    display: inline;
    padding-right: 10px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-decoration: underline;
}

.align-right {
    float: right;
}

#spacing {
    width: 100%;
    padding: 150px 0px 20px 0px;
    display: block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    border-radius: 20px;
    border: 2px solid #d2d2d2;
    opacity: .65;
    width: 500px;
    height: 45px;
    font-size: 12pt;
    background-image: url('Pics/voice-search-icon.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

input[type=text]:hover {
    box-shadow: 0 0 5px lightgray; 
   opacity: 1;
}

button {
    text-decoration: none;
    background-color: #f4f4f4;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 18px 18px 18px;
    margin: 35px 6px 0px 6px;
    border: none;
    text-align: center;
    font-size: 12pt;
}

button:hover {
    border:1px solid #d2d2d2;
}

.button-center {
    width: 100%;
    text-align: center;
}

footer {
    border-top: 1px solid #e4e4e4;
    height: 20px;
    background-color: #f2f2f2;
    width: 100%;
    positon: fixed;
    padding: 10px 0px;
}